* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: #eeeeee;
  color: black;
  overflow-x: hidden;
}

/* ================= HEADER ================= */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo {
  width: 60px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #888;
}

/* ================= MAIN SECTION ================= */

.cantainer {
  padding: 40px;
}

.cantainer h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  margin-bottom: 40px;
}

/* Paragraph + Image ALWAYS same line */

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.content p {
  width: 60%;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}

.principale {
  width: 40%;
  max-width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  .principale {
    height: 500px;
    object-fit: cover;
  }
}
@media (min-width: 992px) {
  .content p {
  width: 80%;
  font-size: 20px;
  line-height: 2;
}
}
.slider-wrapper {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.brand-slider {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  width: 100%;
  max-width: 1000px;
  padding: 40px 0;
}

/* نخبي scrollbar */
.brand-slider::-webkit-scrollbar {
  display: none;
}

.slide {
  flex: 0 0 auto;
  width: 450px;
  scroll-snap-align: center;
  transition: transform 0.4s ease, filter 0.4s ease;
}

/* الصور */
.slide img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}
@media (max-width:600px) {
    .slide img {
        width: 300px;
    }
    .slide{
        width: 300px;
    }
}
@media (max-width:400px) {
    .slide img {
        width: 200px;
    }
    .slide{
        width: 200px;
    }
      .content p {
  width: 60%;
  font-size: 14px;
  line-height: 1;
}
}

/* التأثير عند hover (في الحاسوب) */
.slide:hover {
  transform: scale(1.08);
  filter: brightness(1.05);
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero button {
  padding: 15px 40px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  background: black;
  color: #eeeeee;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero button:hover {
  background: rgb(87, 84, 84);
  transform: scale(1.05);
}